[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	df = diff
	tree = log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --all
	cia = commit --amend --no-edit
	cian = commit --amend --no-edit --date=now
	first = rev-list --max-parents=0 HEAD
[ghq]
	root = ~/src
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
